[submodule "backend"]
	path = backend
	url = https://github.com/DmitryShetinin/backend-part-of-social-network.git

[submodule "frontend"]
	path = frontend
	url = https://github.com/DmitryShetinin/frontend-part-of-social-network.git
